*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(gymg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-size: 60px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
    color: rgb(255, 251, 0);
    font-weight: bold;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* about featur start  */
#abfe{
    padding-top: 0px;
    padding-bottom: 20px;
    background: rgb(49, 2, 2);
    clip-path: polygon(0% 0%,100% 0%,100% 100%,80% 80%,0% 100%);
}
.abfe-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.abfe-left-col{
    flex-basis: 50%;
    text-align: center;
}
.abfe-left-col img{
    width: 70%;
}

.abfe-right-col{
    flex-basis: 50% ;
}
.abfe-right-col h2{
    color: rgb(149, 224, 10);
    text-align: center;
    font-size: 40px;
}
.abfe-right-col p{
    font-weight: lighter;
    /* font-size: 40px; */
    color: white;
    margin: 20px 20px;
}

/* cards start  */
.section2{
    margin-top: 40px;
    background: rgb(6, 122, 138);
    display: grid;
    place-items: center;
}
.section2>h2{
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    grid-gap: 40px;
}
.card{
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 80%;
    height: 60%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0 ;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
/* .card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
} */
.details{
    padding: 20px 10px;
}
.details>h3{
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin: 20px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

/* services section start  */

#servises{
    padding-top: 50px;
}
.services-info{
    text-align: center;
}
.services-info h1{
    padding-bottom: 0px;
    color: rgb(96, 177, 5);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #000000;
}
.services-info p{
    padding: 10px;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.services-info> p1{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.services-row{
    /* background: rgb(92, 119, 122); */
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-auto-rows: minmax(200px,auto);
    grid-gap: 3em;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.services-box{
    background: #a0a0a0;
    border: 1px solid red;
    text-align: center;
}
.services-box img{
    border-radius: 0%;
    width: 100%;
    height: 70%;
    margin-top: 0px;
}
.services-box h2{
    margin-top: 5px;
    font-size: 20px;
}
.services-box a{
    color: blue;
    text-decoration: none;
}
.services-box a:hover{
    color: red;
}
.services-box p{
     margin-top: 3px;
     margin-bottom: 5px;
}
.services-box .price{
    font-weight: bold;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
}
/* services section end  */